.idea/
out/
gen/
idea-gitignore.jar
resources/templates.list
resources/gitignore/*
build/
build.properties
junit*.properties
IgnoreLexer.java~
.gradle
.DS_Store
launch.json
roll-for-hacking.iml
.idea/workspace.xml
/verification
